<!DOCTYPE html>
<html>
<head>
    <title>Update Article</title>
</head>
<body>
    <h1>Update article</h1>

    <form action="/articles/{{.ID}}" method="POST">
        <div>
            <label>Title:</label>
            <input type="text" name="title" placeholder="My first article">
        </div>

        <div>
            <label>Content:</label>
            <textarea name="body" rows="10" cols="50"></textarea>
        </div>

        <!-- Browsers only allow GET and POST in native HTML forms -->
        <input type="hidden" name="_method" value="PATCH">
        <button type="submit">Update</button>
    </form>

    <hr>

</body>
</html>